@font-face {
  font-family: 'Sansation_Regular';
  src: url("../fonts/Sansation_Regular.ttf"); }

html {
  color: #fafafa;
  font-size: 1em;
  line-height: 1.4; }

body {
  font-family: Sansation;
  margin: 0;
  background-color: #fafafa;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out; }

nav {
  margin-top: 6%;
  text-align: center;
  font-size: 36px;
  color: #3a3a3a; }
  nav .navigation {
    display: inline-block;
    vertical-align: top;
    margin-top: 26px;
    padding-left: 20px; }
    nav .navigation .name {
      letter-spacing: 2px; }
    nav .navigation .links {
      font-size: 22px;
      display: inline-block; }
      nav .navigation .links .link {
        display: inline-block;
        padding: 0 5px;
        vertical-align: super; }
        nav .navigation .links .link:hover {
          border-bottom: 2px solid #3a3a3a;
          cursor: pointer; }
        nav .navigation .links .link a {
          text-decoration: none; }
      nav .navigation .links .active {
        border-bottom: 2px solid #3a3a3a; }
  nav img {
    height: 150px;
    width: 100px;
    display: inline-block; }

.work {
  position: absolute;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  top: 40%; }

.top-row {
  width: 100%;
  margin: 0 auto;
  text-align: center; }

.bottom-row {
  width: 100%;
  margin: 0 auto;
  text-align: center; }

.diamond {
  display: inline-block;
  width: 175px;
  height: 175px;
  background: #fafafa;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  margin: -1% 3%;
  -webkit-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  border: 10px solid #FAFAFA;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  box-sizing: border-box; }
  .diamond:hover {
    border: 10px solid #3a3a3a;
    background: #3a3a3a;
    cursor: pointer; }
  .diamond img {
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    margin-top: -100px;
    margin-left: -110px; }

.clean {
  margin-right: 0 !important; }

.down {
  height: 25px;
  width: 25px;
  background: #3A3A3A;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
  margin: 0 auto;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  border: 6px solid #FAFAFA;
  box-sizing: border-box; }

.browserupgrade {
  margin: 0.2em 0;
  background: yellow;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Media Queries
   ========================================================================== */
@media only screen and (max-width: 1140px) {
  .diamond {
    width: 125px;
    height: 125px;
    border: 5px solid #FAFAFA; }
    .diamond:hover {
      border: 5px solid #3a3a3a;
      background: #3a3a3a;
      cursor: pointer; } }

@media only screen and (max-width: 768px) {
  .diamond {
    width: 100px;
    height: 100px; } }

@media only screen and (max-width: 660px) {
  .diamond {
    width: 75px;
    height: 75px; } }

@media only screen and (max-width: 480px) {
  .diamond {
    width: 175px;
    height: 175px;
    margin-top: -81px;
    margin-bottom: 157px;
    margin-left: 12%; }
  nav {
    font-size: 26px; }
    nav img {
      height: 100px; }
    nav .navigation {
      padding-left: 0; }
      nav .navigation .links {
        font-size: 16px; } }

@media only screen and (max-width: 320px) {
  .diamond {
    width: 150px;
    height: 150px;
    margin-top: -81px;
    margin-bottom: 157px;
    margin-left: 41px; }
  nav {
    font-size: 19px; }
    nav img {
      height: 80px; }
    nav .navigation {
      padding-left: 0;
      margin-left: -10px; }
      nav .navigation .links {
        font-size: 12px; } }
