html {
    color      : #222;
    font-size  : 1em;
    line-height: 1.4;
}
body {
    font  : 16px/26px Helvetica, Helvetica Neue, Arial;
    margin: 0;
}
.header-container {
    background     : url(../img/header_bg.jpg) no-repeat center center fixed;
    background-size: cover;
    min-height     : 100vh;
    max-height     : 100%;
}
.browserupgrade {
    margin    : 0.2em 0;
    background: yellow;
    color     : #000;
    padding   : 0.2em 0;
}
/* ==========================================================================
   Media Queries
   ========================================================================== */
@media only screen and (min-width: 480px) {
    
}
@media only screen and (min-width: 768px) {
    
}
@media only screen and (min-width: 1140px) {
    
}
