<!DOCTYPE html>
<html lang="en" ng-app="twitch">

<head>
  <meta charset="utf-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <title>Twitch Favorites | Track your favorite streams!</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Lato:400,900' rel='stylesheet' type='text/css'>
</head>

<img alt="full screen background image" id="full-screen-background-image" src="img/bg.jpg" />

<body class="container" ng-controller="body">

  <h1 class="title noselect">TWITCH FAVORITES</h1>

  <form class="bar-container noselect">
    <input class="search-box" id="search-box" ng-model="query" type="text" />

    <label for="search-box" title="Search">
      <span class="glyphicon glyphicon-search search-icon"></span>
    </label>

    <select name="mySelect" id="mySelect" ng-options="option.name for option in data.availableOptions track by option.id" ng-model="data.selectedOption"></select>

  </form>

  <div class="row ">
    <div class="col-sm-pull-4 " ng-repeat="user in data.selectedOption.array | filter:query">
      <a ng-href="https://twitch.tv/{{user.name}}">
        <div class="bx hovereffect">

          <div class="image">
            <img alt="" class="img-responsive" ng-src="{{user.logo}}">
            <h2 class="image-text" ng-show="user.online">Online</h2>
          </div>

          <div class="overlay">
            <h2>{{user.name}}</h2>
            <a class="info" data-target="#twitch-modal-{{this.user.name}}" data-toggle="modal">More Info!</a>
          </div>
        </div>
      </a>

      <div aria-labelledby="myModalLabel" class="modal fade" id="twitch-modal-{{this.user.name}}" role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                <span aria-hidden="true">&times;</span>
              </button>
              <h4 class="modal-title">{{user.name}}
                <span aria-hidden="true" class="glyphicon glyphicon-flash" ng-show="user.online"></span>

                <span aria-hidden="true" class="glyphicon glyphicon-flash black" ng-hide="user.online"></span>

              </h4>
              <p class="stats">
                <span data-placement="top" data-toggle="tooltip" title="Followers">
                  <span class="glyphicon glyphicon-heart"></span>
                  {{user.followers | number}} &emsp;
                </span>

                <span data-placement="top" data-toggle="tooltip" title="Total Views">
                  <span class="glyphicon glyphicon-eye-open"></span>
                  {{user.views | number}} &emsp;
                </span>

                <span data-placement="top" data-toggle="tooltip" title="Live Now" ng-show="user.online">
                  <span style="color:red" class="glyphicon glyphicon-user"></span>
                  {{user.viwers | number}} - {{user.gameName}}
                </span>
              </p>

            </div>
            <div class="modal-body" ng-show="user.online">

              <h1 class="online-header">"{{user.gameStatus}}" </h1>
              <a ng-href="https://twitch.tv/{{user.name}}">
                <img alt="" class="img-responsive" ng-src="{{user.previewImg}}"> </a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</body>

</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
<script src="js/main.js"></script>
