<!DOCTYPE html>
<html lang="en" ng-app="twitch">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Twitch Favorites | Track your favorite streams!</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link href="css/style.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Lato:400,900' rel='stylesheet' type='text/css'>
</head>

<img alt="full screen background image" src="http://miketricking.github.io/dist/images/back3.jpg" id="full-screen-background-image" />

<body class="container" ng-controller="body">

  <h1 class="title noselect">TWITCH FAVORITES</h1>

  <form class="bar-container noselect">
    <input id="search-box" type="text" class="search-box" ng-model="query" />

    <label for="search-box" title="Search">
      <span class="glyphicon glyphicon-search search-icon"></span>
    </label>

    <!-- <button type="button" id="menu" name="button" data-toggle="dropdown"></button> -->
    <div class="dropup">
      <label for="menu" data-placement="right" data-toggle="dropdown" title="Filter">
        <span class="glyphicon glyphicon-option-horizontal filter-icon"></span>
      </label>
      <ul class="dropdown-menu" aria-labelledby="menu">
        <li><a href="#">All users</a></li>
        <li><a href="#">Online users</a></li>
        <li><a href="#">Offline users</a></li>
      </ul>
    </div>

  </form>

  <div class="row ">
    <div class="col-sm-pull-4 " ng-repeat="user in userDisplay | filter:query">
      <a ng-href="https://twitch.tv/{{user.name}}">
        <div class="bx hovereffect">

          <div class="image">
            <img class="img-responsive" ng-src="{{user.logo}}" alt="">
            <h2 class="image-text" ng-show="user.online">Online</h2>
          </div>

          <!-- <a class="info" ng-href="https://twitch.tv/{{user.name}}">More Info!</a> -->

          <div class="overlay">
            <h2>{{user.name}}</h2>
            <a class="info" data-toggle="modal" data-target="#twitch-modal-{{this.user.name}}">More Info!</a>
          </div>
        </div>
      </a>

      <div class="modal fade" id="twitch-modal-{{this.user.name}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <h4 class="modal-title">{{user.name}}
                <span class="glyphicon glyphicon-flash" aria-hidden="true" ng-show="user.online"></span>

                <span ng-hide="user.online" class="glyphicon glyphicon-flash black" aria-hidden="true"></span>

              </h4>
              <p class="stats">
                <span data-toggle="tooltip" data-placement="top" title="Followers">
                  <span class="glyphicon glyphicon-heart"> </span> {{user.followers | number}} &emsp;
                </span>
                <span data-toggle="tooltip" data-placement="top" title="Total Views">
                  <span class="glyphicon glyphicon-eye-open"> </span> {{user.views | number}}
                </span>
              </p>

            </div>
            <div class="modal-body">
              <blockquote>
                <p>{{user.bio}}</p>
              </blockquote>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
  <script src="js/main.js"></script>

</body>

</html>
