@import url(https://fonts.googleapis.com/css?family=Rokkitt);

#p1 {
	position: absolute;
	display: block;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	display: none;
}
.top-1 {
	width: 100%;
	height: 5px;
	background-color: #dd7c7e;
	margin-top: 75px;
	position: relative;
	z-index: 2;
}
.side-1 {
	width: 27%;
	height: calc(100vh - 75px);
	margin-top: 75px;
	background-color: #dd7c7e;
	float: right;
	box-shadow: 0 0 17px 0 rgba(0,0,0,0.4);
	position: relative;
	overflow: hidden;
	display: flex;
	align-items: center;
	font-size: 14px;
	.desc {
		color: white;
		padding: 10%;
		line-height: 25px;
		margin-top: -75px;
		.title {
			margin-bottom: -15px;
			letter-spacing: 2px;
			font-size: 1em;
		}
		h1 {
			font-size: 2em;
			letter-spacing: 8px;
		}
		h3 {
			letter-spacing: 5px;
			margin-top: -25px;
			line-height: 2;
			font-size: 1.3em;
			color: rgba(255, 255, 255, 0.7);
		}
		.more-info-1 {
			width: 100%;
			margin-top: 20px;
			i {
				padding-right: 10px;
				font-size: 1.7em;
				vertical-align: middle;
			}
			&:hover {
				cursor: pointer;
			}
		}
	}
	.button-panel {
		width: 100%;
		height: 75px;
		background-color: darken(#dd7c7e, 5%);
		position: absolute;
		bottom: 0;
		left: 0;
		box-shadow: 0 0 17px 0 rgba(0,0,0,0.1);
		text-align: center;
		.button-arrow {
			display: inline-block;
			padding: 20px 10%;
			color: white;
			&:hover {
				background-color: lighten(#cc7274, 5%);
				cursor: pointer;
			}
			i {
				color: white;
				font-size: 30px;
				vertical-align: middle;
			}
		}
	}
}
.side-small-1 {
	width: 100px;
	background-color: #dd7c7e;
	position: fixed;
	left: 0;
	height: 100vh;
	opacity: 0;
	color: white;
	box-shadow: 0 0 17px 0 rgba(0,0,0,0.4);
	.back {
		padding: 20px 0.1%;
		font-size: 32px;
		width: 100%;
		text-align: center;
		position: absolute;
		bottom: 0;
		background-color: #cc7274;
		&:hover {
			background-color: lighten(#cc7274, 5%);
			cursor: pointer;
		}
	}
}
.content-1 {
	position: absolute;
	width: calc(73% + 30px);
	background-color: #0f0f0f;
	margin-left: -30px;
	background-repeat: no-repeat;
	background-image: url('/src/assets/img/p1.png');
	background-size: cover;
	float: left;
	height: calc(100vh - 75px);
	margin-top: 75px;
	img {
		width: 73%;
	}
}
.more-1 {
	position: absolute;
	margin-left: 100px;
	width: calc(100% - 100px);
	margin-top: 75px;
	z-index: -1;
	display: none;
	.contain-more {
		font-size: 14px;
		header {
			padding: 4% 5%;
			border-radius: 5px;
			margin: 0 auto;
			.more-desc {
				max-width: 840px;
				margin: 2% auto 0;
				border-radius: 5px;
				.title {
					font-size: 1.6em;
					letter-spacing: 2px;
					color: #dd7c7e;
				}
				.overview {
					font-size: 1.2em;
					margin-top: 5px;
					color: #333;
					letter-spacing: 1px;
					margin-bottom: 20px;
					font-family: 'Rokkitt', serif;
					.tech {
						span {
							img {
								width: 35px;
								padding-right: 2%;
							}
						}
					}
				}
			}
			.preview {
				width: 100%;
				text-align: center;
				.monitor {
					width: 100%;
					max-width: 840px;
					text-align: center;
					box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
				}
			}
		}

		.more-preview {
			text-align: center;
			background: #dd7c7e;
			background-image: url('/src/assets/img/bg1.png');
			background-size: cover;
			background-attachment: fixed;
			padding: 0% 5%;
			box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.2);
			height: calc(85vh - 75px);
		    min-height: 700px;
			.slider {
				position: relative;
				top: 50%;
				  transform: translateY(-50%);
				.img-title {
					color: white;
					font-size: 1em;
					letter-spacing: 2px;
					max-width: 840px;
					margin: 0 auto;
					padding-bottom: 2%;
					span {
						margin: 0 3%;
						font-size: 1.5em;
						letter-spacing: 2px;
						opacity: 0.4;
						&:hover {
							opacity: 1;
							cursor: pointer;
						}
					}
					.img-sel {
						opacity: 1;
					}
				}
				img {
					width: 100%;
					max-width: 840px;
					text-align: center;
					box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
					margin-bottom: 2%;
				}
			}
		}
		.test {
			height: 500px;
			background-color: white;
		}
	}
}

@media only screen and (max-width : 1200px) {
	.side-1 {
		width: 35%;
	}
}
@media only screen and (max-width : 992px) {
	.side-1 {
		width: 40%;
	}
}
@media only screen and (max-width : 840px) {
	.side-1 {
		width: 50%;
	}
}
@media only screen and (max-width : 570px) {
	.side-1 {
		width: 100%;
		.desc{
			h1{
				letter-spacing: 4px;
			}
		}
	}
	.side-small-1 {
		width: 35px;
	}
	.more-1 {
		margin-left: 35px;
		width: calc(100% - 35px);
	}
	.content-1 {
		display: none !important;
	}
}
@media only screen and (max-width : 320px) {
	.side-1 {
		.avatar {
			display: none;
		}
		font-size: 12px;
		.button-panel {
			height: 55px;
			.button-arrow {
				i {
					font-size: 20px;
				}
			}
		}
	}
}
