@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
$mainColor: #303030;
#p0 {
	position: absolute;
	display: none;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;

}
.current{
	display: block !important;
}
body {
	background-color: #0f0f0f;
}
.content-0 {
	position: absolute;
	width: calc(73% + 30px);
	background-color: white;
	margin-left: -30px;
	background-repeat: no-repeat;
	background-image: url('/src/assets/img/about.jpg');
	background-size: cover;
	float: left;
	height: calc(100vh - 75px);
	margin-top: 75px;
	img {
		width: 73%;
	}
}
.more-0 {
	position: absolute;
	margin-left: 100px;
	width: calc(100% - 100px);
	margin-top: 75px;
	z-index: -1;
	display: none;
	.contain-more {
		margin: 10px;
		.title {
			padding-top: 5%;
			color: #333;
			font-size: 1.5em;
		}
		.icons {
			img {
				width: 50px;
				display: inline-block;
				padding: 20px;
			}
		}
		.text {
			font-size: 0.7em;
			letter-spacing: 4px;
			color: #616161;
		}
		.info {
			width: 50%;
			font-size: 18px;
			padding-left: 10%;
			float: left;
		}
		.tech {
			float: right;
			width: 25%;
			margin-right: 10%;
			max-width: 300px;
		}
	}
}
.side-0 {
	width: 27%;
	height: calc(100vh - 75px);
	margin-top: 75px;
	background-color: $mainColor;
	float: right;
	box-shadow: 0 0 17px 0 rgba(0,0,0,0.4);
	position: relative;
	overflow: hidden;
	display: flex;
	align-items: center;
	font-size: 14px;
	.avatar {
		margin-left: 4%;
		display: block;
		width: 40%;
	}
	.desc {
		color: white;
		padding: 10%;
		line-height: 25px;
		margin-top: -75px;
		overflow: hidden;
		.title {
			margin-bottom: -15px;
			letter-spacing: 2px;
			font-size: 1em;
		}
		h1 {
			letter-spacing: 8px;
			font-size: 2em;
		}
		h3 {
			letter-spacing: 5px;
			margin-top: -25px;
			line-height: 2;
			font-size: 1.3em;
			color: rgba(255, 255, 255, 0.7);
		}
		.more-info {
			width: 100%;
			margin-top: 20px;
			span {
				padding-right: 10px;
				margin-left: -10px;
				i {
					padding: 0 10px;
					font-size: 24px;
					vertical-align: middle;
				}
				&:hover {
					cursor: pointer;
				}
			}
		}
	}
	.button-panel {
		width: 100%;
		height: 75px;
		background-color: darken($mainColor, 5%);
		position: absolute;
		bottom: 0;
		left: 0;
		box-shadow: 0 0 17px 0 rgba(0,0,0,0.1);
		text-align: center;
		.button-arrow {
			display: inline-block;
			padding: 20px 10%;
			color: white;
			&:hover {
				background-color: lighten($mainColor, 5%);
				cursor: pointer;
			}
			i {
				color: white;
				font-size: 30px;
				vertical-align: middle;
			}
			.ion-chevron-up {
				color: rgba(255, 255, 255, 0.23);
			}
		}
	}
}
.side-small-0 {
	width: 100px;
	background-color: $mainColor;
	position: fixed;
	left: 0;
	height: 100vh;
	opacity: 0;
	color: white;
	box-shadow: 0 0 17px 0 rgba(0,0,0,0.4);
	.back {
		padding: 20px 0.1%;
		font-size: 32px;
		width: 100%;
		text-align: center;
		position: absolute;
		bottom: 0;
		background-color: darken($mainColor, 5%);
		&:hover {
			background-color: lighten($mainColor, 5%);
			cursor: pointer;
		}
	}
}
