@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
.nav-bar {
    background-color: white;
    height: 75px;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
	position: fixed;
	z-index: 3;
    .logo {
        padding-left: 2%;
        display: inline-block;
        height: 100%;
        img {
            width: 53px;
            margin-top: 12px;
        }
        .name {
            display: inline-block;
            width: 100px;
            height: 109%;
            vertical-align: middle;
            padding-left: 10px;
            letter-spacing: 5px;
            font-size: 18px;
            .last {
                letter-spacing: 8px;
            }
        }
    }
    nav {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        text-align: center;
        .nav-item {
            height: 75px;
            padding: 0 25px;
            display: inline-block;
            &:hover {
                background-color: #f4f4f4;
                cursor: pointer;
            }
            .nav-text {
                margin-top: 25px;
				letter-spacing: 5px;
            }
        }
        .sel {
            background-color: #191919;
			color: white;
        }
    }
}
