@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.project {
    position: fixed;
    display: block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: none;
}
